<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div>
  <h2>Customer filter</h2>
  <mat-card>
    <form>
      <h3>STEP number: {{event.value}}</h3>
      <input type="text" placeholder="Filter events" [formControl]="event" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let eventOption of filteredEvents | async" (click)="event.setValue(eventOption)" [value]="event">
          {{eventOption}}
        </mat-option>
      </mat-autocomplete>
    </form>
    <button *ngIf="!attributeAdded" (click)="attributeAdded=true" mat-flat-button>+ Add event attribute</button>
    <mat-form-field [formControl]="attribute" *ngIf="attributeAdded" ngDefaultControl>
      <mat-select>
        <mat-option *ngFor="let attributeOption of eventsList.eventAttributes" (click)="attribute.setValue(attributeOption)"
          [value]="attribute">{{attributeOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [formControl]="operation" *ngIf="attribute.value !== 'Unnamed'" ngDefaultControl>
      <mat-select>
        <button (click)="operationType='string'" mat-flat-button>String</button>
        <button (click)="operationType='number'" mat-flat-button>Number</button>
        <mat-option *ngFor="let operationOption of operationType === 'string' ? eventsList.stringOperations : eventsList.numberOperations" [value]="operation">
          {{operationOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card>

</div>

<router-outlet></router-outlet>